@charset "UTF-8";
/* CSS Document */

body{
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	line-height: 1.4;
	color: #1B1B1B;
    background-image: url("wallpaper.jpg");
    background-color: #cccccc;
   
}


input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid rgb(17, 16, 16);
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=checkbox], select, textarea {
	box-sizing: border-box;
	display: inline-block;
  }

input[type=phonenumber], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid rgb(10, 7, 7);
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
.wrap {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  .button {
	min-width: 300px;
	min-height: 60px;
	font-family: 'Nunito', sans-serif;
	font-size: 22px;
	text-transform: uppercase;
	letter-spacing: 1.3px;
	font-weight: 700;
	color: #06060e;
	background: #3DFF72;
  background: linear-gradient(90deg, rgb(12, 226, 41) 0%, rgb(33, 248, 33) 100%);
	border: none;
	border-radius: 1000px;
	box-shadow: 12px 12px 24px rgba(48, 204, 0, 0.64);
	transition: all 0.3s ease-in-out 0s;
	cursor: pointer;
	outline: none;
	position: relative;
	padding: 10px;
	}
  
  button::before {
  content: '';
	border-radius: 1000px;
	min-width: calc(300px + 12px);
	min-height: calc(60px + 12px);
	border: 6px solid #070808;
	box-shadow: 0 0 60px rgba(30, 255, 0, 0.64);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	transition: all .3s ease-in-out 0s;
  }
  
  .button:hover, .button:focus {
	color: #313133;
	transform: translateY(-6px);
  }
  
  button:hover::before, button:focus::before {
	opacity: 1;
  }
  
  button::after {
	content: '';
	width: 30px; height: 30px;
	border-radius: 100%;
	border: 6px solid #05cc26;
	position: absolute;
	z-index: -1;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation: ring 1.5s infinite;
  }
  
  button:hover::after, button:focus::after {
	animation: none;
	display: none;
  }
  
  @keyframes ring {
	0% {
	  width: 30px;
	  height: 30px;
	  opacity: 1;
	}
	100% {
	  width: 300px;
	  height: 300px;
	  opacity: 0;
	}
  }


.contactForm {
  border-radius: 5px;
  background-color: #00F6FF;
  padding: 20px;
  width:fit-content;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-style: oblique;
  color: #000512;
}
.contactForm > center{
	text-align:center !important;

}
header{
	background: url("../img/header.jpg")no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	color: #fff;
}
.tx-azzurro{
	color: #00F6FF;
}
.bg-azzurro{
	background: #00F6FF;
	color: #1B1B1B;
}
.btn-primary{
	display: inline-block;
	padding: 10px 40px;
	font-weight: bold;
	text-align: center;
	background: #3DFF72;
	color: #1B1B1B;
}
.bg-verde{
	background: #3DFF72;
	color: #1B1B1B;
}
.tx-verde{
	color: #3DFF72;
}
.pulsate-bck {
	-webkit-animation: pulsate-bck 0.8s ease-in-out infinite both;
	        animation: pulsate-bck 0.8s ease-in-out infinite both;
}
.numero{
	display: block;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	color: #02EEFF;
	border: 3px solid #02EEFF;
	text-align: center;
	padding: 14px 5px;
	font-size: 2.5rem;
	margin: 0 auto 15px;
}

a{
	color: #fff;
}
a:hover{
	color: #00F6FF;
	text-decoration: none;
}
.bg-dark{
	background: #000512!important;
}
ul{
	list-style: none;
	padding: 0;
	font-size: 1.35rem;
}
ul li{
	margin-bottom: 10px;
}
ul span{
	font-size: 150%;
}
/* ----------------------------------------------
 * Generated by Animista on 2021-6-16 20:55:49
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation pulsate-bck
 * ----------------------------------------
 */
@-webkit-keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@media(max-width:991px){
	header{
		text-align: center;
	}
	.bg-white .col-lg-4{
		margin-bottom: 5rem;
	}
	.col-lg-2{
		margin-bottom: 2rem;
	}
	.py-5{
		padding: 1.4rem 0!important;
	}
}
.big-btn {
	width: 90px;
	height: 40px;
	margin-bottom: 4rem;
	margin: auto;
	display: block;
}

.center-block {
	margin: auto;
	display: block;
  }
.image-1{
	margin-top: 2rem;
}
@media(max-width:600px){
	h1{
		font-size: 2rem;
	}
	h2{
		font-size: 1.65rem;
	}
	h3{
		font-size: 1.45rem;
	}
	h5{
		font-size: 1.2rem;
	}
}